@import "tailwindcss";

@theme {
  --color-zinc-950: #09090b;
  --color-zinc-900: #18181b;
  --color-ea-green-600: #166534;
  --color-ea-green-500: #22c55e;
  --color-ea-red-600: #dc2626;
}

/* Base Styles */
body {
  background-color: var(--color-zinc-950);
  color: #fafafa;
}
